<footer class="site-footer">
  <small>
    Website built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>.
    Source code on <a href="{{ https://github.com/allegheny-college-cmpsc-480-fall-2022/cmpsc-480-assignment-5-web-portfolio-Orion-Grieco }}" target="_blank">GitHub</a>.
  </small>
</footer>
